# =============================================================================
# -------------------- BACKEND CONTAINER CONFIGURATION ------------------------
# =============================================================================

# -- APP CONFIGURATION
APP_KEY=base64:sd0kx61QbQwyjAKQPetP5eUstHQj8BNYwWtl2XJlwSo=
API_VERSION=v0.0

# Log dilempar ke docker container
LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# -- SANCTUM SETUP
SESSION_DOMAIN=.myapp.test
SESSION_SECURE_COOKIE=false

PMA_ABSOLUTE_URI="https://phpmyadmin.myapp.test"

# -- DB MYSQL SETUP
DB_CONNECTION=mysql

# Will also be used by mariadb container
DB_HOST=mariadb 
DB_PORT=3306 
DB_DATABASE=app_db
DB_USERNAME=admin
DB_PASSWORD=admin

DB_EXPORTER_USERNAME=exporter
DB_EXPORTER_PASSWORD=exporter

# -- MARIADB CONTAINER SETUP
MARIADB_ROOT_HOST=% # Allowing all network can login as root host
MARIADB_ROOT_PASSWORD=root
MARIADB_ALLOW_EMPTY_PASSWORD=

# -- REDIS CONTAINER SETUP
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=redis
REDIS_PORT=6380

# !IMPORTANT SO ALL CACHE QUEUE AND SESSION STORED ON 
# REDIS CONTAINER
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

# FILE SYSTEM CONFIGURATION DEFAULT 
# USING MINIO SERVICE
FILESYSTEM_DISK=s3
MINIO_SERVICE=minio
MINIO_ROOT_USER=sail
MINIO_ROOT_PASSWORD=password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- LARAVEL FILESYSTEM CONFIG ---
FILESYSTEM_DISK=s3
AWS_BUCKET=app-bucket
AWS_ACCESS_KEY_ID=sail
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1

# PRODUCTION
# AWS_ENDPOINT=https://minio.myapp.test

# URL untuk TAMPILAN (Public Domain Nginx)
# Ini yang akan muncul di tag <img src="...">
# AWS_URL=http://cdn.myapp.test/app-bucket

# Wajib True buat MinIO
# AWS_USE_PATH_STYLE_ENDPOINT=true