# =============================================================================
# ------------------------ CONTAINER CONFIGURATION ----------------------------
# =============================================================================

# DEFINE PROMTAIL ORIGIN NAME (GOOD FOR DISTRIBUTED DISTINCTION)
MACHINE_MONITORING_HOST_NAME=main_machine

# ENDPOINT TO PHPMYADMIN
PHPMYADMIN_URL=phpmyadmin.myapp.test

# ENDPOINT TO GRAFANA
GRAFANA_URL=monitoring.myapp.test
GRAFANA_PORT=3131
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# PROMETHEUS 
PROMETHEUS_PORT=9090

# LOKI
LOKI_URL=http://loki:3100
LOKI_ENDPOINT=http://loki:3100/loki/api/v1/push
LOKI_PORT=3100
LOKI_USER="admin"
LOKI_PASSWORD="admin"

# --- EXPORTER PORT CONFIG ---
NODE_EXPORTER_PORT=9100
REDIS_EXPORTER_PORT=9121
MARIADB_EXPORTER_PORT=9104
CADVISOR_EXPORTER_PORT=8080
NGINX_EXPORTER_PORT=8085

# --- NETWORK BINDING (Security) ---
# Isi dengan IP LAN (192.168.x.x) jika ingin diakses oleh Prometheus Laptop
# Isi dengan 127.0.0.1 jika hanya untuk akses lokal
# Isi dengan 0.0.0.0 jika global
NODE_EXPORTER_ALLOWED_HOST=0.0.0.0
REDIS_EXPORTER_ALLOWED_HOST=0.0.0.0
MARIADB_EXPORTER_ALLOWED_HOST=0.0.0.0
CADVISOR_EXPORTER_ALLOWED_HOST=0.0.0.0
NGINX_EXPORTER_ALLOWED_HOST=0.0.0.0

# --- RESOURCES LIMITING
# Total Stack Resource Management / CPU
# Calculated for a 2-Core VPS (Staying under 1.5 total to keep 0.5 free for OS)
REDIS_CPU_LIMIT=0.2
LOADBALANCER_CPU_LIMIT=0.3
MINIO_CPU_LIMIT=0.2
MARIADB_CPU_LIMIT=0.6
GIS_CPU_LIMIT=0.5
BACKEND_CPU_LIMIT=0.5
FRONTEND_CPU_LIMIT=0.1  # Frontend container just serves static files

# Monitoring 
PROMETHEUS_CPU_LIMIT=0.5
LOKI_CPU_LIMIT=0.4
GRAFANA_CPU_LIMIT=0.3

## EXPORTER (Minimal footprint)
NODE_EXPORTER_CPU_LIMIT=0.05
REDIS_EXPORTER_CPU_LIMIT=0.05
MARIADB_EXPORTER_CPU_LIMIT=0.05
CADVISOR_EXPORTER_CPU_LIMIT=0
NGINX_EXPORTER_CPU_LIMIT=0
PROMTAIL_EXPORTER_CPU_LIMIT=0.2

# Total Stack Resource Management / Memory
# 4 GB
# === CORE SERVICES (3.4GB TOTAL BUDGET) ===
MARIADB_MEM_LIMIT=768mb
REDIS_MEM_LIMIT=256mb
BACKEND_MEM_LIMIT=768mb
GIS_MEM_LIMIT=512mb
MINIO_MEM_LIMIT=512mb
LOADBALANCER_MEM_LIMIT=256mb
FRONTEND_MEM_LIMIT=128mb

# Monitoring
PROMETHEUS_MEM_LIMIT=768mb
LOKI_MEM_LIMIT=512mb
GRAFANA_MEM_LIMIT=256mb

# === EXPORTERS (STRICT CAPS) ===
NODE_EXPORTER_MEM_LIMIT=32mb
REDIS_EXPORTER_MEM_LIMIT=32mb
MARIADB_EXPORTER_MEM_LIMIT=32mb
CADVISOR_EXPORTER_MEM_LIMIT=0
NGINX_EXPORTER_MEM_LIMIT=0
PROMTAIL_EXPORTER_MEM_LIMIT=128mb

# --- APP TUNING (INTERNAL LEVEL) ---
# MariaDB: Set Buffer Pool to ~70% of container RAM
MARIADB_BUFFER_POOL=512M 

# Redis: Set MaxMemory to ~80% of container RAM
REDIS_MAXMEMORY=200mb

# Laravel/PHP-FPM: Limit workers so they don't exceed 1GB
# (Formula: (Total RAM - 200MB overhead) / 80MB per worker)
BACKEND_MAX_CHILDREN=10
