.env
.env.backend
.env.devops
prometheus.yml
promtail.config.yml
/prometheus.yml
/prometheus.yml
./promtail.config.yml
./promtail.config.yml
*.csr
*.ssl
*.crt
*.cert
*.key
*.pem
node_modules
./*/node_modules
.DS_Store
.vscode
.idea
*.log
.pnpm-store/*
.pnpm-store

# Generated nginx configs
infra/nginx/default.conf.lb.template
infra/nginx/default.conf.vps.template